body {
	margin: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
}

main {
	position: relative;
	margin: 0 auto;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
}

svg {
	fill: white;
}

.mw-third {
	max-width: 33.33333%;
}

.mw-50 {
	max-width: 50%;
}

.mw-two-thirds {
	max-width: 66.66667%;
}

.min-vh-third {
	min-height: 33.3vh;
}

.min-vh-50 {
	min-height: 50vh;
}

.min-vh-two-thirds {
	min-height: 33.3vh;
}

.center-h {
	left: 50%;
	transform: translateX(-50%);
}

.center-v {
	top: 50%;
	transform: translateY(-50%);
}

.bg-content-box {
	background-origin: content-box;
}

.open-sans-condensed {
	font-family: 'Open Sans Condensed', sans-serif;
}

.open-sans {
	font-family: 'Open Sans', sans-serif;
}

.salty-teal {
	color: #50aab8;
}

.bg-salty-teal {
	background-color: #50aab8;
}

.b--salty-teal {
	border-color: #50aab8;
}

.hover-salty-teal:focus,.hover-salty-teal:hover {
	color: #50aab8;
}

.hover-bg-salty-teal:focus,.hover-bg-salty-teal:hover {
	background-color: #50aab8;
}

.hover-b--salty-teal:focus,.hover-b--salty-teal:hover {
	border-color: #50aab8;
}

.fade-in, .fade-out {
	animation-fill-mode: forwards;
	animation-duration: 0.3s;
	animation-timing-function: ease-in-out;
}

.fade-in {
	animation-name: fadeIn;
	opacity: 0;
}

.fade-out {
	animation-name: fadeOut;
	opacity: 1;
}

@keyframes fadeIn {
	0% { opacity: 0 }
	100% { opacity: 1 }
}

@keyframes fadeOut {
	0% { opacity: 1 }
	100% { opacity: 0 }
}

.h6 {
	height: 24rem;
}

.max-h1 {
	max-height: 1rem;
}

.max-h2 {
	max-height: 2rem;
}

.max-h3 {
	max-height: 4rem;
}

.max-h4 {
	max-height: 8rem;
}

.max-h5 {
	max-height: 16rem;
}

.max-h6 {
	max-height: 24rem;
}

@media screen and (min-width: 30rem) {
	.h6-ns {
		height: 24rem;
	}

	.max-h1-ns {
		max-height: 1rem;
	}
	
	.max-h2-ns {
		max-height: 2rem;
	}
	
	.max-h3-ns {
		max-height: 4rem;
	}
	
	.max-h4-ns {
		max-height: 8rem;
	}
	
	.max-h5-ns {
		max-height: 16rem;
	}
	
	.max-h6-ns {
		max-height: 24rem;
	}
}

@media screen and (min-width: 30rem) and (max-width: 60rem) {
	.h6-m {
		height: 24rem;
	}

	.max-h1-m {
		max-height: 1rem;
	}
	
	.max-h2-m {
		max-height: 2rem;
	}
	
	.max-h3-m {
		max-height: 4rem;
	}
	
	.max-h4-m {
		max-height: 8rem;
	}
	
	.max-h5-m {
		max-height: 16rem;
	}
	
	.max-h6-m {
		max-height: 24rem;
	}
}

@media screen and (min-width: 60rem) {
	.h6-l {
		height: 24rem;
	}

	.max-h1-l {
		max-height: 1rem;
	}
	
	.max-h2-l {
		max-height: 2rem;
	}
	
	.max-h3-l {
		max-height: 4rem;
	}
	
	.max-h4-l {
		max-height: 8rem;
	}
	
	.max-h5-l {
		max-height: 16rem;
	}
	
	.max-h6-l {
		max-height: 24rem;
	}
}